body {
    background-image: url("image/22.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
}

header .head h1 {
    font-family: aguafina-script;
    text-align: center;
    color: #ddd;
}

header .head img {
    float: left;
}

header .opt {
    float: right;
    margin: -110px 20px 0px 0px
}

.export {
    margin: 0px 10px 0px 0px;
    background-color: #c7c1c3;
    font-family: cursive;
    border-radius: 7px;
    width: 165px;
    height: 30px;
    color: #080806;
    border-color: #581845;
    font-size: 18px
}

/*export */
.export:hover {
    cursor: pointer;
    background-color: #c7c1c3
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


/* table border-spacing: */
#table td,
#table th {
    border: 1px solid #807676;
    padding: 10px;
    opacity: 2;
}

#table tr:nth-child(even) {
    background-color: #f7f2f2;
}

#table tr:nth-child(odd) {
    background-color: #f7f2f2;
    opacity: 1;
}

#table tr:hover {
    background-color: #ccc8c8;
    opacity: 1;
}

#table th {
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #000100;
    color: white;
}
